
#html {

    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1vw;
    height: 100%;
}


body{
    background-color: rgba(19, 35, 47, 0.9);
    height: 100%;
}

h1{
    color: white;
}
p{
    color: white;
    height: 160px;
    padding-top: 2%;
}

h5{
    color: white;
    margin-left:5%;
}

.about{
    height: 100%;
    width: 88%;
}

.info {
    color: #8a8a8a;
}

.info ul{
    list-style: none;
    padding-left: 0;

}
.info ul li{
    border: solid;
    border-bottom-color: #8a8a8a;
    padding: 2%;
    margin: 6%;
    text-align: center;
}

#body {
    height:100%;
    background: #f7f7f7;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

main {
    margin-top:1.2vh;
}

main .pic {
    padding: 0 1% 1% 1%;
    width: 17%;
    float: left;
}

main .pic img {
    width: 100%;
    margin-top: 0;
    border-radius: 200px;
}

main .type .pic {
    overflow: hidden;
    margin-top: 0;
    height: 700px; /* to avoid gallery floating to left */

}

main .type img {
    width: 100%;
}

/* little icon next to h1*/

main .type .circle {
    float: left;
    margin-right:10px ;
    width: 50px;
    height: 50px;
    background: #1ab188;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

main .type .circle .inner-circle {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    background: #f7f7f7;
    border-radius: 100%;
    transition: all ease .3s;
}

main .type .circle:hover .inner-circle {
    width: 46px;
    height: 46px;
}

main .type .circle .icon {
    position: absolute;
    color: #fff;
    transition: all ease .3s;
    padding-left:10px;
    font-size: 30px;
}

main .type .circle:hover .icon {
    color: rgba(19, 35, 47, 0.9);
}








