
nav {
    background: #1ab188;
    top:0;
    left:0;
    right:0;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #1ab188;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

nav ul li ul li{
    display: block;
    text-align: center;
    margin: auto;
    padding: auto;
}

nav ul li:hover ul {
    display: block;
}

nav ul li:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: 2px;
    background: white;
    transition: all .3s linear;

}

nav ul li:hover:after {
    width: 100%;

}

nav ul li ul li:hover:after {
    width: 100%;
}

nav ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    padding-right:0.5rem;

}

nav ul li {
    padding: .375rem .7rem;
    position: relative;
    display: inline-block;
}

nav ul li a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 600;
}
